
.accordion {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 5px;

}


.accordion-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    
    width: 100%;
    
    border: .2rem solid #ffffff;
    border-radius: 15px;
    padding: 5pt;
}

.accordion-action:hover {
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
}

.accordion-title {

}

.accordion-icon {
    width: 2rem;
}


.accordion-content {
    display: flex;
    flex-direction: column;



    height: 0px;
    transition: all .4s ease-in-out;
    overflow-y: hidden;
    padding: 0 15pt;
    border-radius: 0px 0px 15px 15px;
}

/* Ação de click */
.accordion.open > .accordion-action {
    border-radius: 15px 15px 0px 0px;

}


.accordion.open > .accordion-content {
    display: flex;
    border: .2rem solid #ffffff;
    height: fit-content;

}